body {
    padding: 0;
    margin: 0;
}

.containerBox {
    background-color: red;
    padding: 5px;
    border: 5px solid blue;
    margin: 10px;
}

.contentBox {
    background-color: #ddd;
    color: black;
    border: 5px solid green;
    padding: 5px;
}

/* A propriedade box-sizing força uma regularidade no tamanho dos elementos . . Respeitando a borda entre eles. */