/*

p {
    color: red; - Muda a cor do texto.

    text-align: center; - Centraliza o texto, mas também pode ser alinhado a esquerda e direita. (text-justify justifica o texto deixando o início e o fim do texto juntos)

    text-transform: uppercase; - Transforma o texto em maiúsculo. (Pode deixar também o texto em minúsculo e capitalizar o primeiro caractere de cada palavra.)

    text-indent: 20px; - Indenta o texto, dando um expaço antes da primeira palavra de um parágrafo.

    text-shadow: 1px 1px 1px #000; - Adiciona uma sombra ao texto.

    text-decoration: underline; - Adiciona uma linha abaixo do texto. (Pode ser usado para adicionar uma linha na parte de cima e riscado, pode aplicar as 3 ao mesmo tempo.)

    letter-spacing: 2px; - Espaçamento entre as letras.

    word-spacing: 2px; - Espaçamento entre as palavras.

    line-height: 1.5; - Altura entre as linhas.

    font-size: 20px; - Tamanho da fonte.
    
    font-family: Arial, Helvetica, sans-serif; - Fonte.

}

*/