/* Centimetros

classTag {
    width: 19cm;
    height: 19cm;
}

*/ 


/* Milimetros

classTag {
    width: 19mm;
    height: 19mm;
}

*/ 


/* Polegadas

classTag {
    width: 19in;
    height: 19in;
}

*/ 


/* Pixel

classTag {
    width: 19px;
    height: 19px;
}

*/ 


/* Ponto

classTag {
    width: 19pt;
    height: 19pt;
}

*/ 


/* Paica

classTag {
    width: 19pc;
    height: 19pc;
}

*/ 